@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-white text-gray-800 antialiased;
}

/* Estilos para las animaciones si no se usa la utilidad de Tailwind directamente */
.animate-fadeIn {
  animation: fadeIn 0.7s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
